In [2]:
library(dplyr) # includes group_by function

Загрузим данные:

In [3]:
df <- read.csv("mlbootcamp5_train.csv", sep=';')

In [4]:
head(df)

  id age   gender height weight ap_hi ap_lo cholesterol gluc smoke alco active
1 0  18393 2      168    62     110    80   1           1    0     0    1
2 1  20228 1      156    85     140    90   3           1    0     0    1
3 2  18857 1      165    64     130    70   3           1    0     0    0
4 3  17623 2      169    82     150   100   1           1    0     0    1
5 4  17474 1      156    56     100    60   1           1    0     0    0
6 8  21914 1      151    67     120    80   2           2    0     0    0
  cardio
1 0
2 1
3 1
4 1
5 0
6 0

Размер данных, названия признаков и их типы:

In [5]:
dim(df)
# nrow(df)
# ncol(df)
colnames(df)

[1] 70000    13

 [1] "id"          "age"         "gender"      "height"      "weight"
 [6] "ap_hi"       "ap_lo"       "cholesterol" "gluc"        "smoke"
[11] "alco"        "active"      "cardio"

In [6]:
str(df)

'data.frame':	70000 obs. of  13 variables:
 $ id         : int  0 1 2 3 4 8 9 12 13 14 ...
 $ age        : int  18393 20228 18857 17623 17474 21914 22113 22584 17668 19834 ...
 $ gender     : int  2 1 1 2 1 1 1 2 1 1 ...
 $ height     : int  168 156 165 169 156 151 157 178 158 164 ...
 $ weight     : num  62 85 64 82 56 67 93 95 71 68 ...
 $ ap_hi      : int  110 140 130 150 100 120 130 130 110 110 ...
 $ ap_lo      : int  80 90 70 100 60 80 80 90 70 60 ...
 $ cholesterol: int  1 3 3 1 1 2 3 3 1 1 ...
 $ gluc       : int  1 1 1 1 1 2 1 3 1 1 ...
 $ smoke      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ alco       : int  0 0 0 0 0 0 0 0 0 0 ...
 $ active     : int  1 1 0 1 0 0 1 1 1 0 ...
 $ cardio     : int  0 1 1 1 0 0 0 1 0 0 ...

In [7]:
sapply(df, function(x) sum(is.na(x)))  # есть ли пропуски в данных

         id         age      gender      height      weight       ap_hi
          0           0           0           0           0           0
      ap_lo cholesterol        gluc       smoke        alco      active
          0           0           0           0           0           0
     cardio
          0

### Задание 1.
* Сколько мужчин и женщин представлено в этом наборе данных?

In [8]:
df %>% group_by(gender) %>%
  select(gender, height) %>%
  summarise_all(funs(mean))

cat('Female:', nrow(subset(df, gender==1)), '\n')
cat('Male:', nrow(subset(df, gender==2)))

  gender height
1 1      161.3556
2 2      169.9479

Female: 45530
Male: 24470

### Задание 2.
* Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?

In [9]:
df %>% group_by(gender) %>%
  select(gender, alco) %>%
  summarise_all(funs(mean))  # female

  gender alco
1 1      0.02549967
2 2      0.10637515

### Задание 3.
* Во сколько раз (округленно, round) процент курящих среди мужчин больше, чем процент курящих
  среди женщин (по этим анкетным данным)?

In [10]:
df %>% group_by(gender) %>%
  select(gender, smoke) %>%
  summarise_all(funs(mean))

  gender smoke
1 1      0.01785636
2 2      0.21888026

In [11]:
round(mean(df[df['gender'] == 2, 'smoke']) / mean(df[df['gender'] == 1, 'smoke']))

[1] 12

### Задание 4.
* В чём здесь измеряется возраст? На сколько месяцев (примерно) отличаются медианные значения
  возраста курящих и некурящих?

In [12]:
round(Mod(median(df[df['smoke'] == 1, 'age']) / 30 - median(df[df['smoke'] == 0, 'age']) / 30))

[1] 20

### Задание 5.
* Уточнения:
  1. Создайте новый признак age_years – возраст в годах, округлив до целых (round).
     Для данного примера отберите курящих мужчин от 60 до 64 лет включительно.
  2. Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке
     в значения признака cholesterol следующее: 4 ммоль/л -> 1, 5-7 ммоль/л -> 2, 8 ммоль/л -> 3.
  3. Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно:
     первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л,
     а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно)
     и концентрацией холестерина – 8 ммоль/л.

  Во сколько раз (округленно, round) отличаются доли больных людей (согласно целевому признаку, cardio)
  в этих двух подвыборках?

In [13]:
df$age_years <- round(df$age / 365)  # new column

In [14]:
head(df, 3)

  id age   gender height weight ap_hi ap_lo cholesterol gluc smoke alco active
1 0  18393 2      168    62     110   80    1           1    0     0    1
2 1  20228 1      156    85     140   90    3           1    0     0    1
3 2  18857 1      165    64     130   70    3           1    0     0    0
  cardio age_years
1 0      50
2 1      55
3 1      52

In [15]:
cls1 <- mean(df[df$gender == 2 & df$smoke == 1 & df$age_years >= 60 & df$age_years <= 64 & 
               df$cholesterol == 1 & df$ap_hi < 120, 'cardio'])

cls3 <- mean(df[df$gender == 2 & df$smoke == 1 & df$age_years >= 60 & df$age_years <= 64 & 
                  df$cholesterol == 3 & df$ap_hi >= 160 & df$ap_hi < 180, 'cardio'])

cat(cls1, cls3)

0.2564103 0.8636364

In [16]:
round(max(cls1, cls3) / min(cls1, cls3))

[1] 3

### Задание 6.
* Постройте новый признак – BMI (Body Mass Index). Для этого надо вес в килограммах
  поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25.

  Выбрать верные утверждения:

  1. <b>YES</b> Медианный BMI по выборке превышает норму.
  2. <b>NO</b> У женщин в среднем BMI ниже, чем у мужчин.
  3. <b>NO</b> У здоровых в среднем BMI выше, чем у больных.
  4. <b>YES</b> В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме,
    чем в сегменте здоровых и непьющих женщин.

<b>1</b>

In [17]:
df$BMI <- df$weight / (df$height / 100) ** 2
head(df, 3)
cat('Median:', median(df$BMI))

  id age   gender height weight ap_hi ap_lo cholesterol gluc smoke alco active
1 0  18393 2      168    62     110   80    1           1    0     0    1
2 1  20228 1      156    85     140   90    3           1    0     0    1
3 2  18857 1      165    64     130   70    3           1    0     0    0
  cardio age_years BMI
1 0      50        21.96712
2 1      55        34.92768
3 1      52        23.50781

Median: 26.37407

<b>2</b>

In [18]:
df %>% group_by(gender) %>%
  select(gender, BMI) %>%
  summarise_all(funs(mean))

  gender BMI
1 1      27.98758
2 2      26.75444

<b>3</b>

In [19]:
df %>% group_by(cardio) %>%
  select(cardio, BMI) %>%
  summarise_all(funs(mean))

  cardio BMI
1 0      26.54818
2 1      28.56606

<b>4</b>

In [20]:
df %>% group_by(gender, alco, cardio) %>%
  select(gender, alco, cardio, BMI) %>%
  summarise_all(funs(mean))

  gender alco cardio BMI
1 1      0    0      26.84541
2 1      0    1      29.05277
3 1      1    0      28.67146
4 1      1    1      30.81235
5 2      0    0      25.87264
6 2      0    1      27.52245
7 2      1    0      26.09722
8 2      1    1      28.22657

### Задание 7.
* Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных):

    1. Указанное нижнее значение артериального давления строго выше верхнего.
    2. Рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили.
    3. Вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили.

Сколько процентов данных (округленно, round) мы выбросили?

In [21]:
tr = nrow(subset(df, df$ap_lo <= df$ap_hi &
                 df$height >= quantile(df$height, c(.025))[[1]] & df$height <= quantile(df$height, c(.975))[[1]] &
                 df$weight >= quantile(df$weight, c(.025))[[1]] & df$weight <= quantile(df$weight, c(.975))[[1]]
                )) / nrow(df)
cat(round((1 - tr) * 100), 'percent.')

10 percent.